<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <button id="btn-subscribe" style="position: absolute; top: 50%; left: 40%">Pay by bank</button>
    <div id="waivr-overlay">
      <div id="waivr-overlay__arrow"></div>
      <div id="waivr-overlay__close"></div>
      <div id="waivr-overlay__body">
        <div id="waivr-overlay__message">This browser is not supported</div>
        <div id="waivr-overlay__instructions">
          <p>Tap <span id="waivr-overlay__instructions__ellipsis"></span> and select 'Open in Browser'</p>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.1/lottie.min.js"
    integrity="sha512-H6aKTjvYAazW0iNuGj1f2dZvSWlt1HGZGEDsXRPETo2IB4H6v36Vl2qiZNlCRxOp0kT7iBf+7USNPavNscZGAw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <script>
    const subscribeBtn = document.getElementById("btn-subscribe");
    const closeBtn = document.getElementById("waivr-overlay__close");
    const overlayElm = document.getElementById("waivr-overlay");
    subscribeBtn.addEventListener("click", function () {
      if (window.navigator.userAgent.includes("Instagram")) {
        overlayElm.style.display = "block";
      } else {
        subscribeBtn.innerText = "flow continues..";
      }
    });

    closeBtn.addEventListener("click", function () {
      overlayElm.style.display = "none";
    });
    document.addEventListener("DOMContentLoaded", function (event) {
      var animation = bodymovin.loadAnimation({
        container: document.getElementById("waivr-overlay__arrow"), // Required
        path: "./json/animation.json", // Required
        renderer: "svg", // Required
      });
    });
  </script>
</html>
