<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>server side user-agent <%= user_agent %></p>
    <button id="btn-breakout">Breakout using download</button>
    <button id="btn-breakout-2">Breakout using nibrowser</button>
    <a target="_blank" href="./breakout?nibrowser=no" download>
      breakout using anchor and nibrowser and download attr</a
    >
  </body>
  <script>
    const btn = document.getElementById("btn-breakout");
    const btn2 = document.getElementById("btn-breakout-2");
    btn.addEventListener("click", function () {
      window.location.href = "./breakout";
    });
    btn2.addEventListener("click", function () {
      window.open("./breakout?nibrowser=no", "blank");
    });
  </script>
</html>
