<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <button id="btn-subscribe" style="position: absolute; top: 50%; left: 40%">Pay by bank</button>
    <div id="waivr-overlay">
      <div id="waivr-overlay__arrow">&#10548;</div>
      <div id="waivr-overlay__close"></div>
      <div id="waivr-overlay__message">
        <p>To continue to Pay by Bank and save an extra 1% open us in your browser</p>
        <p>Tap '<span>&#8943;</span>' above and select 'Open in Browser'</p>
      </div>
      <div id="waivr-overlay__more-btn-wrapper">
        <div id="waivr-overlay__more-btn"></div>
        <div id="waivr-overlay__more-details">To provide a better experience we need to leave instagram</div>
      </div>
    </div>
  </body>
  <script>
    const subscribeBtn = document.getElementById("btn-subscribe");
    const moreBtn = document.getElementById("waivr-overlay__more-btn");
    const closeBtn = document.getElementById("waivr-overlay__close");
    const overlayElm = document.getElementById("waivr-overlay");
    const moreDetailsElm = document.getElementById("waivr-overlay__more-details");
    const moreDetailsWrapperElm = document.getElementById("waivr-overlay__more-btn-wrapper");
    subscribeBtn.addEventListener("click", function () {
      // if (window.navigator.userAgent.includes("Instagram") && window.navigator.userAgent.includes("Android")) {
      //   window.location.href = "./breakout";
      // } else {
      toggleVisibility(overlayElm);
      // }
    });

    closeBtn.addEventListener("click", function () {
      toggleVisibility(overlayElm);
    });
    moreBtn.addEventListener("click", function () {
      toggleVisibility(moreDetailsElm);
      if (moreDetailsWrapperElm.className.includes("--open")) {
        moreDetailsWrapperElm.className = "";
      } else {
        moreDetailsWrapperElm.className = "waivr-overlay__more-btn-wrapper waivr-overlay__more-btn-wrapper--open";
      }
    });
    function toggleVisibility(elem) {
      if (elem.checkVisibility()) {
        elem.style.display = "none";
      } else {
        elem.style.display = "block";
      }
    }
  </script>
</html>
