<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>server side user-agent <%= user_agent %></p>
    <button id="btn-breakout">Breakout</button>
  </body>
  <script>
    const btn = document.getElementById("btn-breakout");
    btn.addEventListener("click", function () {
      window.location.href = "./breakout";
    });
  </script>
</html>
